src/PlanetX/PlanetX2012/Test/Service References/TrendingServiceReference/TrendingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAO.DAO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAO.DAO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrendingTopics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrendingTopics" nillable="true" type="tns:TrendingTopics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrendingTopics" nillable="true" type="tns:ArrayOfTrendingTopics" />
  <xs:complexType name="TrendingTopics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrendingTopics" nillable="true" type="tns:TrendingTopics" />
</xs:schema>